body {
    background-image: url("https://media.istockphoto.com/vectors/antique-seamless-background-triangle-aboriginal-cross-dot-line-flower-vector-id955412674");
    background-size: 100px;
    background-color: aquamarine;
    text-align: center;
}

.tColor {
    color: red;
}

.tBG {
    background-color: blue;
}